<div class="panel panel-default">
  <div class="checkout-title"> Confirm Order </div>
  <div class="panel-body">
    <%= f.submit 'Place Order', :class => "btn btn-default" %>
    <!--<a href="#" class="btn btn-default"> Confirm Order </a>-->
    <a href="#" class="btn btn-danger"> Cancel Order </a>
  </div>
</div>