<div class="checkout-coupon-code">
  <i class="fa fa-ticket pull-left"></i>
  <span class="pull-left">
    Have a coupon? Click here to enter your code |
  </span>
  <span>
    &nbsp; Returning customer? Login here
  </span>
  <div class="clearfix"></div>
</div>