<div class="col-lg-12 clearfix">
  <h1 class="page-header reset-margin"> Posted By
    <small>
      <%= @post.author %>
    </small>
  </h1>
  <ol class="breadcrumb reset-margin">
    <li><a href="/">Home</a>
    </li>
    <li class="active">Post</li>
  </ol>
</div>
<div class="col-lg-12">
  <hr>
  <p>
    <i class="fa fa-clock-o"></i>
    Posted on <%= @post.created_at.strftime("%A %d, %Y %p") %>
  </p>
  <hr>
  <p class="lead">
   <%= @post.title %>
  </p>
  <p>
    <%= @post.description %>
  </p>
</div>