<div class="col-lg-8 col-lg-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading"> Editing Product </div>
    <div class="panel-body">
      <%= render 'form' %>
    </div>
    <div class="panel-footer">
      <%= link_to 'Show', @product %> |
      <%= link_to 'Back', products_path %>
    </div>
  </div>
</div>

