<p id="notice"><%= notice %></p>

<h1 class="title" style="border: none;"> All Products </h1>

<div class="product_items">
  <% @products.each do |product| %>
    <%= render 'item', :product => product %>
  <% end %>
</div>

<br>

<%= link_to 'New Product', new_product_path %>
