/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.single_item {
  width: 22%;
  display: inline-block;
  text-align: center;
  border: 1px solid #f7f7f5;
  margin-bottom: 30px;
  overflow: hidden;
  margin-right: 25px;
  padding: 15px 0;
  vertical-align: top;
  img {
    max-height: 120px;
    max-width: 120px;
  }
  h2 {
    color: #FE980F;
  }
  p {
    color: #696763;
  }
}

.category-title, .title {
    color: #48c491;
    font-size: 34px;
    font-weight: 700;
    margin: 0;
    padding: 15px 0;
}

.product-title {
  color: #48c491;
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
}

.product-small-image {
  width: 100px;
  height: 100px;
  img {
    width: 100%;
    height: 100%;
  }
}

.product-desc {
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  margin: 20px 0;
  padding: 20px 0;
  width: 100%;
}

.product-price {
  color: #232323;
  font-size: 36px;
  font-weight: 900;
  line-height: 36px;
}

.cart-icon-wrapper {
  position: relative;
  margin: 1px 8px 0 0;
  cursor: pointer;
  .cart-icon {
    font-size: 26px;
    margin: 10px 0 0;
  }
  .cart-item-count {
    background: red none repeat scroll 0 0;
    border-radius: 43px;
    color: #ffffff;
    display: block;
    font-family: 'Comic Sans MS';
    font-size: 12px;
    font-weight: bold;
    padding: 0 7px;
    position: absolute;
    right: -19px;
    top: 0;
  }
}

.add-to-cart {
  background: #f7f7f5 none repeat scroll 0 0;
  border: 0;
  color: #666666;
}

.show-big-image {
  max-height: 500px;
  max-width: 400px;
  margin-bottom: 8px;
}