.no-padding{
  padding: 0 !important;
}

.reset-left-padding {
  padding-left: 0 !important;
}

.reset-right-padding {
  padding-right: 0 !important;
}

.reset-margin {
  margin: 0 !important;
}

.reset-top-margin {
  margin-top: 0 !important;
}

.reset-bottom-margin {
  margin-bottom: 0 !important;
}